a:26:{s:5:"Font1";s:46:""Helvetica Neue", Helvetica, Arial, sans-serif";s:5:"Font2";s:46:""Helvetica Neue", Helvetica, Arial, sans-serif";s:9:"FontSize1";s:2:"12";s:9:"FontSize2";s:2:"14";s:9:"FontSize3";s:2:"12";s:10:"headerSize";s:6:"Larger";s:8:"Opacity1";s:3:"0.8";s:8:"Opacity2";s:1:"1";s:6:"Color1";s:6:"3a3f41";s:6:"Color2";s:6:"3992cc";s:6:"Color3";s:6:"153174";s:6:"Color4";s:6:"f9fafa";s:6:"Color5";s:6:"062f5a";s:6:"Color6";s:6:"ffffff";s:6:"Color7";s:6:"fefcfc";s:6:"Color8";s:6:"1e2f41";s:6:"Color9";s:6:"b5b6b8";s:7:"Color10";s:6:"757779";s:7:"Color11";s:6:"6f92b3";s:6:"Image1";s:13:"furley_bg.png";s:12:"BorderWidth1";s:1:"1";s:12:"BorderStyle1";s:4:"none";s:12:"BorderWidth2";s:1:"1";s:12:"BorderStyle2";s:6:"dotted";s:4:"file";s:32:"OneColumn\OneColumnTemplate.html";s:6:"submit";s:0:"";}