a:26:{s:5:"Font1";s:28:"Arial, Helvetica, sans-serif";s:5:"Font2";s:46:""Helvetica Neue", Helvetica, Arial, sans-serif";s:9:"FontSize1";s:3:" 12";s:9:"FontSize2";s:2:"14";s:9:"FontSize3";s:3:" 16";s:10:"headerSize";s:6:"Larger";s:8:"Opacity1";s:2:".8";s:8:"Opacity2";s:4:"0.93";s:6:"Color1";s:6:"6daed6";s:6:"Color2";s:6:"F4F9FD";s:6:"Color3";s:6:"34639a";s:6:"Color4";s:6:"333333";s:6:"Color5";s:6:"0a4177";s:6:"Color6";s:6:"0C6A98";s:6:"Color7";s:6:"ededed";s:6:"Color8";s:6:"386289";s:6:"Color9";s:6:"CCCCCC";s:7:"Color10";s:6:"FFFFFF";s:7:"Color11";s:6:"7399bd";s:6:"Image1";s:9:"wall4.png";s:12:"BorderWidth1";s:1:"1";s:12:"BorderStyle1";s:6:"dotted";s:12:"BorderWidth2";s:1:"1";s:12:"BorderStyle2";s:6:"dotted";s:4:"file";s:32:"OneColumn\OneColumnTemplate.html";s:6:"submit";s:0:"";}