<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/Main.dwt" codeOutsideHTMLIsLocked="false" -->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<!-- InstanceBeginEditable name="doctitle" -->
		<title>Page Title</title>
		<!-- InstanceEndEditable -->
		<link href="OneColumn.css" rel="stylesheet" type="text/css" />
		<style type="text/css"></style>
		<!-- InstanceBeginEditable name="head" -->
		<!-- InstanceEndEditable -->
	</head>

	<body>
		<div id='overlay'></div>
		<div id="container">
			<div id="header">
				
			</div>
			<div id="main"><br />
				<h1 style="text-align: center;">Here is the Title for the page</h1>
				<p id='mainContent'>paragraph text Lorem ipsum dolor sit amet, tyri aliquam inlido laetare in lucem genero ergo quod tamen cursu. Care genitorem ipsam Athenagora eius ad nomine Piscatore mihi quidditas patria Utinam. Tempor ipsius infirmitate memineris peccavi cum unde tu tu bestias terras sui alius certe diximus in rei civibus in. Ingens ferro dolor exposuisset secundum ei auri Neptunus spatia tribulatione, antiochus vero diam dominum depressit filia in deinde vero quo! Contra te sed dominum sit in fuerat se sed dominum oculos rex ut a civitas exulto haec.Lorem ipsum dolor sit amet, boreas ingreditur est in. Quaere allocutus ait regem adventu nihil labore accusam in fuerat se vero rex. Parem quam dolore obiectum est in. Supponite facultatibus actum justo libertatem petitiones tulit tam gratia de tuae designaverant ut a civitas exulto haec. Duis ille sui coniungens in.</p>
				
				<strong>bolded text</strong><br />
				<a href='#' class='unvisted'>Link</a>
				<blockquote>
					blockquote: Lorem ipsum dolor sit amet, virginem eum est in. Quod non coepit dies tuum facti addens munere confabularentur patrem dolor exposuisset mucrone geminus filium dixit. Diana praesentatis ne videret quo alacres ad quia. Mei ad quia ei Taliarchum in rei civibus corporis optime Verena sui 'maternam castitatis ipsi incumbens! Imas rebum accusam amici rex Dionysiadi Apollonius eius ad per. 
				</blockquote>
				
				<h1>H1 Title</h1>
				<h2>H2 Title</h2>
				<h3>H3 Title</h3>
				<h4>H4 Title</h4>
				<h5>H5 Title</h5>
				<h6>H6 Title</h6>
				
				<ul>
					<li>List Item</li>
					<li>List Item</li>
					<li>List Item</li>
				</ul>
				<ol>
					<li>List Item</li>
					<li>List Item</li>
					<li>List Item</li>
				</ol>
				
				<table>
					<tr><th>&nbsp;</th><th>A</th><th>B</th><th>C</th></tr>
					<tr><th>1</th><td>1A</td><td>1B</td><td>1C</td></tr>
					<tr><th>2</th><td>2A</td><td>2B</td><td>2C</td></tr>
					<tr><th>3</th><td>3A</td><td>3B</td><td>3C</td></tr>
				</table>
			</div>
			<div id="footer">
				<p>&copy; 2012. This material may not be reproduced, displayed, modified or distributed without the express written consent of the copyright holder.</p>
			</div>
		</div>
	</body>
	<!-- InstanceEnd -->
</html>
