a:24:{s:5:"Font1";s:46:""Helvetica Neue", Helvetica, Arial, sans-serif";s:5:"Font2";s:14:"Georgia, serif";s:9:"FontSize1";s:3:" 16";s:9:"FontSize2";s:3:" 16";s:9:"FontSize3";s:3:" 12";s:10:"headerSize";s:6:"Larger";s:8:"Opacity1";s:3:"0.8";s:8:"Opacity2";s:1:"1";s:6:"Color1";s:6:"919191";s:6:"Color2";s:6:"e7e7e7";s:6:"Color3";s:6:"882518";s:6:"Color4";s:6:"333333";s:6:"Color5";s:6:"882518";s:6:"Color6";s:6:"882518";s:6:"Color7";s:6:"FFFFFF";s:6:"Image1";s:4:"none";s:12:"BorderWidth1";s:1:"2";s:12:"BorderStyle1";s:6:"dotted";s:12:"BorderWidth2";s:1:"1";s:12:"BorderStyle2";s:6:"dotted";s:12:"BorderWidth3";s:1:"5";s:12:"BorderStyle3";s:4:"none";s:4:"file";s:52:"BootstrapResponsive\BootstrapResponsiveTemplate.html";s:6:"submit";s:0:"";}