a:26:{s:5:"Font1";s:28:"Arial, Helvetica, sans-serif";s:5:"Font2";s:46:""Helvetica Neue", Helvetica, Arial, sans-serif";s:9:"FontSize1";s:2:"12";s:9:"FontSize2";s:2:"14";s:9:"FontSize3";s:2:"16";s:10:"headerSize";s:6:"Larger";s:8:"Opacity1";s:3:"0.8";s:8:"Opacity2";s:1:"1";s:6:"Color1";s:6:"dfd8d8";s:6:"Color2";s:6:"779d6d";s:6:"Color3";s:6:"012650";s:6:"Color4";s:6:"f5f5f5";s:6:"Color5";s:6:"012650";s:6:"Color6";s:6:"012650";s:6:"Color7";s:6:"f2f2f2";s:6:"Color8";s:6:"d1d2d2";s:6:"Color9";s:6:"a9a9a9";s:7:"Color10";s:6:"7e7e7e";s:7:"Color11";s:6:"c8cacc";s:6:"Image1";s:14:"white_wall.png";s:12:"BorderWidth1";s:1:"2";s:12:"BorderStyle1";s:6:"dotted";s:12:"BorderWidth2";s:1:"1";s:12:"BorderStyle2";s:6:"dotted";s:4:"file";s:52:"BootstrapResponsive\BootstrapResponsiveTemplate.html";s:6:"submit";s:0:"";}